
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #080808;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(seg.png);
  background-size: cover;
  background-position: top 80px left 300px;
  background-repeat: no-repeat;
}

.container {
  padding: 18px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff7f50;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.main-text {
  margin-top: 20%;
  font-size: 30px;
}

.main-text h1 {
  font-size: 60px;
  margin-top: 15px;
}

.main-text h1 span {
  color: #ff7f50;
}

.background-image {
  position: absolute;
  right: 0;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  height: 40%;
  border-radius: 15px;
  z-index: -1;
  object-fit: cover;
  -webkit-box-reflect: below 5px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
  box-shadow: 0px 0px 20px rgba(255, 140, 0, 0.5);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-text {
    margin-top: 100%;
    font-size: 16px;
  }

  .main-text h1 {
    font-size: 30px;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  nav ul {
    flex-direction: column;
    background: #ff7f50;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100%;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    margin: 25px;
  }

  .section__pic-container {
    display: none !important;
  }

  .sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .fa-bars {
    position: absolute;
    right: -50px;
  }

  .text-container {
    margin-top: 80px;
    margin-bottom: -40px;
  }
}
